@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

header,
main,
footer {
  margin: 1rem;
  position: relative;
}

h1 {
  color: #000;
  border-bottom: 1px solid #eee;
  text-shadow: 0 0 10px #777;
  width: 60%;
}

h2 {
  color: rosybrown;
}

p {
  margin: 0;
  padding: 2px;
  font-weight: 400;
}

section {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: #bcb;
  border: 1px solid #bed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: auto;
  max-width: 325px;
  box-shadow: 1px solid #bbb;
  height: 200px;
  background-color: #eee;
  border: 1px solid #bbb;
}

#cards {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  background-color: rgba(135,206,235,.21);
  border: 1px solid #bed;
  padding: 0.25rem;
  align-items: center;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(252,191,73,.1);
    text-align: center;
}