* {
    max-width: 960px;
    height: auto;
    margin: 0 auto;
    padding: 4px;
    box-sizing: border-box;

  }
  
  :root {
    --primary-color: #3A5B7E;
    --secondary-color: #E4F2F1;
    --accent1-color: #66A393;
    --accent2-color: #A4B2B6;

    --heading-font: 'Sawarabi Mincho', serif;
    --paragraph-font: 'Quicksand', sans-serif;

    --nav-background-color: #ffffff;
    --nav-link-color: #3D704A;
    --nav-hover-link-color: #83F2A1;
    --nav-hover-background-color: #1EAEA0;
}   

  body {
    font-weight: 200;
    font-family: 'Sawarabi Mincho', serif;
  }
  
  /* mobile ****************************/
  header {
    background-color: #cedbcd;
    text-align: center;
  }
  
  h1 {
    font-size: 30pt;
    font-family: 'Quicksand', sans-serif;
  }

  h2 {
    font-size: 22pt;
    font-family: 'Quicksand', sans-serif;
    color: #3A5B7E;
  }
  
  nav {
    background-color: rgba(21,78,19, 0.5);
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }
  
  nav a :hover {
    background-color: rgba(255,255,255, 0.5);
  }
  
  nav .active {
    background-color: rgba(0,0,0,0.5);
  }
  
  header {
    display: grid;
    background: #326273;
    color: white;
    font-family: "Sawarabi Mincho";
  }
  
  img {
    width: 150px;
    grid-column: 2 / 3;
    padding: 20px;
  }
  
  nav ul {
    list-style: none; /* Remove default list styles */
    padding: 200px; /* Remove default padding */
  }
  
  nav a {
    display: block; /* list vertically */
    text-decoration: none; /* Remove underlines from links */
    color: #326273; /* Set link color */
    font-weight: bold; /* Optionally, make the links bold */
    text-align: center;
    font-size: 14pt;
    padding: 10px;
  }
  nav a:hover {
    background: #326273;
    color: white;
  }
  nav li {
    display: block;
  }

  h2 {
    color: #3A5B7E;
    text-align: center;
    padding-bottom: 1rem; /* Adjust the space between the text and the line as needed */
    font-family: "Sawarabi Mincho";
  }
  
  .sitecolors {
    text-align: center;
    border: 1px solid #326273;
    color: #326273;
    margin-bottom: 20px;
  }

  .activities li {
    text-align: left;
    list-style-type: decimal-leading-zero;
    color: #326273;
  }
  .activities a {
    color: #3A5B7E;
  }
  .activities a:hover {
    color: #fcbf49;
  }
  /*change footer background and font color*/
  footer {
    background: #326273;
    color: white;
    grid-row: 3/4;
    text-align: center;
    padding: 15px;
  }
  
  .sitecolors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
  }

  .sitecolors th {
    background-color: #ffffff;
  }

  .sitecolors td {
    width: 25%;
    height: 3rem;
  }
  
  .primary {
    background-color: #3A5B7E;
  }
  
  .secondary {
    background-color: #E4F2F1;
  } 

  .accent1 {
    background-color: #66A393;
  }
  
  .accent2 {
    background-color: #A4B2B6;
  }

  .sitemap {
    display: grid;
    justify-content: center;
  
    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas: ". . home home . ."
      ". . . top . ."
      ". left left right right ."
      "page2 page2 . . page3 page3";
  }
  .sitemap > div {
    text-align: center;
  }
  .sm-home {
    grid-area: home;
    background-color: #ccc;
    line-height: 3em;
  }
  .sm-page2 {
    grid-area: page2;
    background-color: #ccc;
    line-height: 3em;
  }
  .sm-page3 {
    grid-area: page3;
    background-color: #ccc;
    line-height: 3em;
  }
  .top {
    grid-area: top;
    border-left: 1px solid;
  }
  .left {
    grid-area: left;
    border-top: 1px solid;
    border-left: 1px solid;
  }
  .right {
    grid-area: right;
    border-top: 1px solid;
    border-right: 1px solid;
  }