span p {font-size: 1.5rem}
/* Mobile View ***************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: 10px;
	position: absolute;
	background-color: black;
	color: white;
	border: solid 1px white;
	border-radius: 4px;
	right: 10px;
}

h1 {
	grid-column: 1 / span 2;
	text-align: center;
	font-size: 31px;
}
#menu::before {
	content: "≡";
}

#menu.open::before {
	content: "x";
}

.navigation {
	max-width: 760px;
	list-style: none;
	margin: 0 auto;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #3A5B7E;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	background-color: rgba(17, 164, 125, 0.232);
	color: rgba(8, 8, 8, 1);
	font-weight: 700;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.stuff {
	margin: .5m;
	border: 1px solid rgba(0,0,0,.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;
}

/* large view navigation ************************************/

/*----------- MAIN --------------*/
form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
    }
form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #3A5B7E;
    font-size: .8rem;
}
form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, .1);
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
} 
form input.submitBtn {
    border: none;
    background-color: #3A5B7E;
    color: white;
    border-radius: .5rem;
    padding: .75rem 1.5em;
    margin: 0 0 2rem 2%;
    width: 90%;
    max-width: 15rem;
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: #66A393 solid 6px;
}
/*----------- FOOTER --------------*/
footer {
    background-color: #E4F2F1;
    padding: .5rem 2%;
    text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}