@media only screen and (min-width: 32rem) {

    span {font-size: 1rem}
}

.city-grid {
 display: grid;
 grid-template-columns: 1fr 2fr;
 column-gap: 20px;
 margin: auto;
 max-width: 960px;
 justify-content: center;       
}

.hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    grid-column: 1 / span 2;
}

@media only screen and (min-width: 45em) {

    header, nav, main, footer {
        max-width: 64em;
        margin:auto;
    }

  nav ul {margin-left: 2%;}
  nav ul li {width: auto;}
  nav ul li:first-child a {border-left: 1px solid #777;}
  nav ul li:last-child a {border-right: 1px solid #777;}
  nav ul li a{padding: .5rem 1rem;}


form label.sbs {
  padding: .4rem 0;
}

}