* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 600;
  font-family: 'Sawarabi Mincho', serif;
  background-color: #E4F2F1;
}

/* mobile ****************************/
header {
  background-color: #326273;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  color: white;
  font-family: "Sawarabi Mincho";
  position: relative;
}

#darkBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 75px;
  height: 75px;
}

h1 {
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;
  grid-column: 3 / 4;
  display: flex;
  align-items: center;
}

#menu {
  display: block;
  position: absolute;
  padding: 0;
}

#menu::before {
content: "☰";
}

#menu.show::before {
  content: "X"
}

nav {
  background-color: rgba(21,78,19,.2);
  text-align: center;
  min-height: 50px;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
}

nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

nav a :hover {
  background-color: rgba(21,78,19, 0.5);
}

nav .active {
  background-color: rgba(21,78,190,0.2);
}

img {
  width: 150px;
  grid-column: 2 / 3;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 5px;
}

nav a {
  display: block; /* list vertically */
  text-decoration: none; /* Remove underlines from links */
  color: #326273; /* Set link color */
  font-weight: bold; /* Optionally, make the links bold */
  text-align: center;
  font-size: 14pt;
  padding: 10px;
}
nav a:hover {
  background: #326273;
  color: white;
}
.navigation li {
  display: none;
}

.show li {
  display: block;
} 

h2 {
  color: #326273;
  text-align: center;
  border-bottom: 2px solid #326273; /* Change the color and thickness as needed */
  padding-bottom: 2px; /* Adjust the space between the text and the line as needed */
  font-family: "Sawarabi Mincho";
}

h3 {
  background: #326273;
  color: white;
  text-align: center;
  margin-top: 0;
}

main {
  display: grid;
  padding-inline: 40px;
}

.hero {
  margin: auto;
  position: relative;
  border: 1px solid rgba(0,5,9,.2);
  height: auto;
}

.herolabel {
  position: absolute;
  top: 2rem;
  left: 1.4rem;
  padding: .75rem;
  box-shadow: 0 0 3rem #fff;
  opacity: .70;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.herolabel {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  background: radial-gradient(#fff, #526685);
  border: 1px solid rgba(0,0,0,.75);
  padding: .75rem;
  box-shadow: 0 0 3rem #fff;
  opacity: 0.75;
}

.herolabel p {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 1.25rem;
  font-family: "sans-serif"
}

.card {
  text-align: center;
  border: 1px solid #326273;
  color: #326273;
  margin-bottom: 20px;
}
.activities li {
  text-align: left;
/*  list-style-type: decimal-leading-zero;*/
  text-decoration: none;
  color: #A4B2B6;
}
.activities a {
  color: #326273;
}
.activities a:hover {
  color: #fcbf49;
}
/*change footer background and font color*/
footer {
  background: #326273;
  color: white;
  grid-row: 3/4;
  text-align: center;
  padding: 15px;
}

@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}

#darkBtn {

}
.dark-mode {
  background-color: #010101;
  color: #fff;
}
