* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 200;
  font-family: 'Sawarabi Mincho', serif;
}

/* mobile ****************************/
header {
  background-color: #cedbcd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;
}

nav {
  background-color: #154e13;
}

nav ul {
  list-style-type: none;
}

nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

nav a :hover {
  background-color: rgba(255,255,255, 0.5);
}

nav .active {
  background-color: rgba(0,0,0,0.5);
}

header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: #326273;
  color: white;
  font-family: "Sawarabi Mincho";
}

img {
  width: 150px;
  grid-column: 2 / 3;
  padding: 20px;
}

h1 {
  grid-column: 3 / 4;
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none; /* Remove default list styles */
  padding: 200px; /* Remove default padding */
}

nav a {
  display: block; /* list vertically */
  text-decoration: none; /* Remove underlines from links */
  color: #326273; /* Set link color */
  font-weight: bold; /* Optionally, make the links bold */
  text-align: center;
  font-size: 14pt;
  padding: 10px;
}
nav a:hover {
  background: #326273;
  color: white;
}
nav li {
  display: block;
}
h2 {
  color: #326273;
  text-align: center;
  border-bottom: 2px solid #326273; /* Change the color and thickness as needed */
  padding-bottom: 5px; /* Adjust the space between the text and the line as needed */
  font-family: "Sawarabi Mincho";
}

h3 {
  background: #326273;
  color: white;
  text-align: center;
  margin-top: 0;
}

main {
  display: grid;
  padding-inline: 40px;
}
.card {
  text-align: center;
  border: 1px solid #326273;
  color: #326273;
  margin-bottom: 20px;
}
.activities li {
  text-align: left;
  list-style-type: decimal-leading-zero;
  color: #326273;
}
.activities a {
  color: #326273;
}
.activities a:hover {
  color: #fcbf49;
}
/*change footer background and font color*/
footer {
  background: #326273;
  color: white;
  grid-row: 3/4;
  text-align: center;
  padding: 15px;
}
